.Authenticate{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    background-color: white;
}

.Authenticate h1{
    margin: 50px;
    background-color:white;
}

.Authenticate-terms{
    background-color: white;
}

.Authenticate-terms span{
    background-color: white;
}

.Authenticate-box{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    /* height: 450px; */
    width: 350px;
    background-color: transparent;
}

.Authenticate-box-button{
    width: 100%;
    cursor: pointer;
    border-radius: 6px;
    background-color: white;
    border: 1px solid black;
    height: 40px;
}

.border-bottom-auth{
    width: 50%;
    margin-top: 10px;
    border-bottom: 1px solid black;
}


@media screen and (max-width:767px){
    .Authenticate{
        margin-bottom: 20px;
    }
    
    .Authenticate h1{
        margin: 20px;
        background-color:white;
    }
    
    .Authenticate-terms{
        background-color: white;
    }
    
    .Authenticate-terms span{
        background-color: white;
    }
    
    .Authenticate-box{
        width: 270px;
    }
    
    
    .border-bottom-auth{
        width: 80%;
        margin-top: 20px;
    }
}