.footer{
    display: flex;
    color: white;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100px;
    flex-direction: column;
}

.footer-logo{
    margin: 15px;
}

.footer-link-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .footer-link-container div:nth-last-child(n):not(:last-child) {
    margin: 10px 15px;
    color: #00d1ff;
  }
  
  .footer-link-container div:last-child {
    margin: 10px 15px;
    color: gray;
  }
  