@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");

.moviepage h1 {
  color: white;
}

.banner-container {
  position: relative;
  display: flex;
  height: 100vh; /* Set the desired height */
}

.details-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  background-color: transparent;
  left: 0;
  width: 50%;
  height: 85%;
  z-index: 1;
  background: linear-gradient(90deg, black, black, transparent);
  padding: 20px;
  color: #ffffff;
  background-color: transparent;
}

.banner-image img {
  position: fixed;
  object-fit: contain;
  right: 0;
  width: 80%;
  background-size: cover;
  background-position: center;
  z-index: 0;
}
.details-container-title {
  font-family: "Bree Serif", serif;
  font-size: 40px;
  margin: 35px 20px;
  background: linear-gradient(90deg, black, black, transparent);
}

.details-container-overview {
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  margin: 35px 20px;
  font-weight: 100;
}

.details-container-smalldetails {
  display: flex;
  font-size: 20px;
  color: rgb(160, 157, 157);
  width: 60%;
  margin: 15px 20px;
  justify-content: space-between;
}

.details-container-smalldetails button {
  backdrop-filter: blur(10px);
  border: none;
  border-radius: 6px;
  font-size: 18px;
  color: rgb(160, 157, 157);
  padding: 3px;
}

.details-container-smalldetails button:hover{
    background-color: rgb(75, 73, 73);
    color: white;
    cursor: pointer;
}

.details-type-check{
    color: #00d1ff;
    margin-right: 20px;
}
.details-type{
    font-size: 25px;
    margin: 15px 20px;
}

.details-buttons{
    margin: 15px 20px;
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.details-buttons span{
    font-size: 35px;
    margin-left: 20px;
}

.details-buttons button{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: white;
    border: none;
    font-size: 50px;
}

.details-buttons button:hover{
    color: rgb(116, 112, 112);
}

.details-bigbuttons{
    font-size: 100px;
}
